body {
    background-image: url('kota_serang.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

