h1{
    text-align: center;
}
.box{
    background: blueviolet;
    height: 200px;
    width: 300px;
    margin: 20px;
}
.box-dua{
    background: red;
    height: 100px;
    width: 600px;
    margin-left: 70px;
}